body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.gallery {
  width:100%;
  column-count: 3;
  column-gap: 20px;
}

@media screen and (max-width:992px) {
  .gallery {
    column-count:2;
  }
}

@media screen and (max-width:676px) {
  .gallery {
    column-count:1;
  }
}

.photo, video {
  display: inline-block;
  width:100%;
    margin-bottom: 14px;
}

.intro {
  padding:25px 25px 50px;
  min-height:100vh;
  display:flex;
}

.intro p {
  margin: 0;
  color:#000;
  text-align:left;
  font-size:20px;
  font-weight:300;
  font-family: "Open Sans", arial;
  align-self:center;
  line-height:1.7em;
  margin-top:-15vh;
}

@media screen and (max-width:1200px) {
  .intro p {
    margin-top:0;
  }
}